{% extends 'base.html.twig' %}
{% block title %}招标查询系统{% endblock %}
{% block stylesheets %}
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
{% endblock %}
{% block body %}
    <div class="panel panel-default">

        <div class="panel-body">
            <div class="form-group">
                <label for="exampleInputPassword1">筛选日期</label>
                <input type="text" class="form-control" name="daterange" placeholder="date picker">
            </div>
            <div id = "main" style="width: 1200px; height: 800px;"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/echarts.js') }}"></script>
    <script src="{{ asset('public/js/china.js') }}"></script>

    <script>
        var chart = echarts.init(document.getElementById('main'));

        var allData = "{{data.data}}";

        var allDataJson = JSON.parse(allData.replace(/&quot;/g, '"').replace(/\n/g, ""));
        chart.setOption({
            title: {
                text: '网络招标地区分布情况',
                left: 'center'
            },
            tooltip: {
                trigger: 'item'
            },
            visualMap: {
                min: 0,
                max: allDataJson[0].value,
                left: 'left',
                top: 'bottom',
                text: ['高', '低'], // 文本，默认为数值文本
                calculable: true
            },
            toolbox: {
                show: true,
                orient: 'vertical',
                left: 'right',
                top: 'center',
                feature: {
                    dataView: {readOnly: false},
                    restore: {},
                    saveAsImage: {}
                }
            },
            series: [{
                    name: '分布',
                    type: 'map',
                    mapType: 'china',
                    roam: false,
                    label: {
                        normal: {
                            show: true
                        },
                        emphasis: {
                            show: true
                        }
                    },
                    data: allDataJson
                }]
        });

        var startTime = "";
        var endTime = "";
        $(function () {
            $('input[name="daterange"]').daterangepicker({
                locale: {
                    format: 'YYYY/MM/DD'
                }
            }, function (start, end, label) {
                startTime = start.format('YYYY:MM:DD');
                endTime = end.format('YYYY:MM:DD');
                $.post("{{ path('purchase_charts_where') }}", {start: startTime, end: endTime}, function (data) {
                    var jsonData = JSON.parse(data);
                    console.log(jsonData);
                    chart.setOption({
                        visualMap: {
                            min: 0,
                            max: jsonData[0].value,
                            left: 'left',
                            top: 'bottom',
                            text: ['高', '低'], // 文本，默认为数值文本
                            calculable: true
                        },
                        series: [{
                            name: '分布',
                            type: 'map',
                            mapType: 'china',
                            roam: false,
                            label: {
                                normal: {
                                    show: true
                                },
                                emphasis: {
                                    show: true
                                }
                            },
                            data: jsonData
                        }]
                    });
                });
            });
        });

    </script>

{% endblock %}